*{
    margin: 0;
    padding: 0;
}

.section-1{
    background-color: #1f2937;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 30px 150px;
}

header{
    height: 150px;
    display: flex;
}

.header-logo{
    flex-grow: 1;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-link{
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
}

.s1-content{
    display: flex;
    gap: 20px;
}

.s1-left-content{
    flex: 1;
}

.s1-right-content{
    width: 400px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.sign-up{
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
}

.box{
    max-width: 150px;
    height: 150px;
    background-color: #f9faf8;
    border: 3px solid #3882f6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2-contents{
    display: flex;
    justify-content: space-around;
    
}

.section-2{
    height: 400px;
    /* background-color: #3882f6; */
    padding: 30px 200px;
    
}

.s2-content{
    max-width: 150px;
    flex: 1;
}

.info-text{
    text-align: center;
    margin-top: 5px;
}

.info-header-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.section-3{
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 300px;
}

blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.cite{
    display: flex;
    justify-content: end;
    font-size: medium;
    font-weight: bolder;
}

.section-4{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4-content{
    background-color: #3882f6;
    height: 100px;
    /* padding: 0 150px; */
    border-radius: 20px;
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
}

.c2a-main-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.c2a-text{
    font-size: 18px;
    color: #f9faf8;
    font-weight: lighter;
}

.c2a-sign-up{
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
}

footer{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f9faf8;
}